{% extends  'index.html' %}

{% block body %}
<form class=" px-5 mb-2 bg-light bg-gradient py-4 form-control w-50 mx-auto" method="post">
    {% csrf_token %}
    <label for="mail">Email</label>
    <input type="email" name="email" class="form-control mb-3" id="mail" placeholder="Enter your email" autofocus="true" required>
    <button class="btn btn-primary fw-bold w-100" type="submit">Send</button>
    {% for m in messages %}
        <div class="mt-2 fw-bold">
            {% if 'error' in m.tags %}
                <span class="text-danger">{{ m }}</span>
            {% elif 'info' in m.tags %}
                <span class="text-success">{{ m }}</span>
            {% endif %}
        </div>
    {% endfor %}
    <hr>
    <a class="btn btn-outline-success fw-bold w-25" href="{url 'login'}">Login</a>
</form>
{% endblock %}